{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>
<body class="bg-[url('images/bg_image.jpg')] bg-cover bg-no-repeat min-h-screen items-center flex flex-col p-3 gap-3" >
    <div class="flex items-center justify-center gap-3">   <h1 class="text-white text-2xl font-bold" >Weather App</h1>
        <img src="{% static 'images/116.png' %}" alt="">
    </div>
    <form method="get" class="flex gap-3 justify-center" >
        <input name="city" type="text" class="rounded-full px-5 py-2 text-purple-800">
        <button type="submit"><ion-icon name="search" class="text-white text-2xl p-2 bg-white/20 rounded-full"></ion-icon></button>
    </form>
    <div>
        <div class="flex p-3 bg-white/20 gap-5 rounded-lg center ">
            <div class="flex flex-col"><p class=" text-white font-bold text-2xl" >{{temp}} &deg; C</p>
                <p class="text-white font-semibold ">Now</p>
                <div class="flex text-white font-semibold flex-col  ">
                    <p>{{city}} , {{country}}</p>
                </div>
            </div>
            <div>
                <img src="{% static 'images/113.png' %}" class="h-24 w-28"  alt="">
            </div>
        </div>
        
 </div>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>